Framework/Core/Service References/ServiceReference1/M04.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50383/M04.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KyoeiSystem.Data" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p乗務員ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KyoeiSystem.Data" minOccurs="0" name="GetDataResult" nillable="true" type="q1:M04_DRV_Member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataGazou">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p乗務員ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataGazouResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KyoeiSystem.Data" minOccurs="0" name="GetDataGazouResult" nillable="true" type="q2:M04_DRVPIC_Member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunStored">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pかな" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunStoredResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KyoeiSystem.Data" minOccurs="0" name="m04" nillable="true" type="q3:M04_DRV_Member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KyoeiSystem.Data" minOccurs="0" name="m04" nillable="true" type="q4:M04_DRV_Member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KyoeiSystem.Data" minOccurs="0" name="m04" nillable="true" type="q5:M04_DRV_Member" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>