Framework/Core/Service References/ServiceReference1/M04.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="M04" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50383/M04.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50383/M04.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50383/M04.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KyoeiSystem.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IM04_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IM04_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IM04_GetDataGazou_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataGazou" />
  </wsdl:message>
  <wsdl:message name="IM04_GetDataGazou_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataGazouResponse" />
  </wsdl:message>
  <wsdl:message name="IM04_RunStored_InputMessage">
    <wsdl:part name="parameters" element="tns:RunStored" />
  </wsdl:message>
  <wsdl:message name="IM04_RunStored_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunStoredResponse" />
  </wsdl:message>
  <wsdl:message name="IM04_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IM04_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IM04_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IM04_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IM04_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IM04_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:portType name="IM04">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IM04/GetData" message="tns:IM04_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IM04/GetDataResponse" message="tns:IM04_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataGazou">
      <wsdl:input wsaw:Action="http://tempuri.org/IM04/GetDataGazou" message="tns:IM04_GetDataGazou_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IM04/GetDataGazouResponse" message="tns:IM04_GetDataGazou_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RunStored">
      <wsdl:input wsaw:Action="http://tempuri.org/IM04/RunStored" message="tns:IM04_RunStored_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IM04/RunStoredResponse" message="tns:IM04_RunStored_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IM04/Update" message="tns:IM04_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IM04/UpdateResponse" message="tns:IM04_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IM04/Delete" message="tns:IM04_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IM04/DeleteResponse" message="tns:IM04_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IM04/Insert" message="tns:IM04_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IM04/InsertResponse" message="tns:IM04_Insert_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IM04" type="tns:IM04">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IM04/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataGazou">
      <soap:operation soapAction="http://tempuri.org/IM04/GetDataGazou" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunStored">
      <soap:operation soapAction="http://tempuri.org/IM04/RunStored" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IM04/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IM04/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IM04/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="M04">
    <wsdl:port name="BasicHttpBinding_IM04" binding="tns:BasicHttpBinding_IM04">
      <soap:address location="http://localhost:50383/M04.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>